@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html{
  height:100%;
}
body{
  background: white;
  /*background: -webkit-linear-gradient(45deg, #7db4d2 0%,#aeb6c9 100%);
  background:    -moz-linear-gradient(45deg, #7db4d2 0%,#aeb6c9 100%);
  background:      -o-linear-gradient(45deg, #7db4d2 0%,#aeb6c9 100%);*/
}
.prp{
    background: #f76b50;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 100%;
    box-shadow: 0px 1px 5px #853222 inset,0px 1px 0px rgba(255,255,255,0.5);
    float: left;
    margin:0px 5px;
}
.prp:before{
    content: '';
    border-radius: 100%;
    width: 7px;
    height: 3px;
    background: transparent;
    position: absolute;
    margin: -3px 3px;
    box-shadow: 0px 5px 3px white;
}
.prp:after{
    content: '';
    border-radius: 100%;
    width: 10px;
    height: 4px;
    background: transparent;
    position: absolute;
    margin: 2px 1px;
    box-shadow: 0px 5px 6px white;
}
.min{
    background: #f5bf67;
    box-shadow: 0px 1px 5px #876212 inset,0px 1px 0px rgba(255,255,255,0.5);
}
.max{
    background: #a3db82;
    box-shadow: 0px 1px 5px #5a6e49 inset,0px 1px 0px rgba(255,255,255,0.5);
}
.header{
    background: -webkit-linear-gradient(top, #e5e5e5 0%,#bababa 100%, #bababa 100%);
    background:    -moz-linear-gradient(top, #e5e5e5 0%,#bababa 100%, #bababa 100%);
    background:      -o-linear-gradient(top, #e5e5e5 0%,#bababa 100%, #bababa 100%);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #888;
    height: 13px;
    padding:5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);

}
.window{
    margin:0px;
    margin-top: 0px;
    width: 1000px;
  /*float:left;*/

}

.win{
    margin:0px;
    margin-top: 0px;
    width: 1000px;
    border:1px solid #888;
    background: #222220;
    border-radius: 7px 7px 5px 5px;
    min-height: 300px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}


.maxer{
    font-size: 20px;
    color:#8D8D8D;
    text-shadow:0px 1px 0px #fff;
    text-decoration: none;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
    display: block;
    float: right;
    line-height: 14px;
}
.header span{
    display: block;
    text-align: center;
    color:#000;
    font-size: 11px;
    text-shadow:0px 1px 0px #fff;
    font-family: "Open Sans", Sans-serif;
    padding: 0px 50px;
    line-height: 13px;
}
.window pre{
    color:#18bc51;
    margin:3px;
}
.fore{
   /*color:#ff6c6b; */
   color: yellow;
  }
.fore, #command {
    display: inline-block;
    margin: 0;
    padding: 0;
}


.response {
    margin-left: 145px;
    padding: 0;
}

pre {
    padding:10px;  margin:0px;
    margin-top: 0px;
    width: 980px;
    position:relative; top:-5px; left:-5px;
    border:1px solid #888;
    background: #222220;
    border-radius: 0px 0px 5px 5px;
    min-height: 20px;
    max-height: 300px;
    overflow:auto;
    color:#18bc51;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: b 0.7s infinite;
    -moz-animation: b 0.7s infinite;
    animation: b 0.7s infinite;
}
@keyframes b{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes b{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes b{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#command {
    color:#18bc51;
    font-weight: bold;
    font-size: 12px;
    background-color: #222220;
    background-color: #222220;
    width: 35%;
    border: none;
    font-size: 1em;
   /* padding: 7px;*/
    outline: none;
    line-height: 1.9em
}




/* CSS */

.bash, .window{
  background-color: #D1D1D1;
}

#logo-name {
  font-weight: normal;
  color: #999999;
}

.header-logo {
  cursor: pointer;
  margin-bottom: 5px;
}

.header-logo div {
  display: inline-block;
}

.header-logo-image img {
  width: 50px;
}


.navbar-default {
   background: #fff !important; 
/*	 border-color: transparent !important;*/
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #1DB0ED !important;
}

#nav-header {
  font-size: 0.9em;
  font-weight: bold;
}

#nav-header ul {
	margin-top: 10px;
} 

/*.menu {
	border-bottom-color: ##999999;
}*/

/*.link{
  cursor: pointer;
  color: #999999 !important;
}*/

/*.link:hover {
  color:  #1DB0ED !important;
}*/

.link {
	margin-right: 10px !important;
	border-color: transparent !important;
	background-color: transparent !important;
}

.link:hover, .selected {
  background-color: #1DB0ED !important;
	color: #ffffff !important;
}

.welcome {
  position: relative;
  height: 620px;
/*   background: url(../images/the-coder.jpg) no-repeat  rgba(27, 166 , 223, 100);  */
/*   background-size: cover; */
/*   background-color: rgba(27, 166 , 223, 100); */
}

.welcome img{
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  display: block;
  background: rgba(27, 166 , 223, 0.7);
  text-allign: center;
}

/* .overlay img {
  width: 100px !important;
  height: 100px !important;
} */


.welcome-logo {
	text-align: center;
 /* width: 100px !important;
  height: 100px !important;*/
}

.welcome-logo img {
	width: 100px;
	height: 100px;
	margin-bottom: 50px;
	margin-top: 40px;
}

.welcome-logo span{
	margin-top: 20px;
	font-size: 4em;
	font-weight: bold;
}


